# Xcode
DerivedData/
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.xccheckout
*.moved-aside
*.xcuserstate
*.xcscmblueprint

# Swift Package Manager
.build/
Packages/
Package.resolved

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Archive files
*.xcarchive

# Other
*.DS_Store
*.idea/
*.swp
*.lock
*.tmp
*.env
*.log
__pycache__/
*.py[cod]
*.egg-info/

# model training
Amiga/Tools/amigALM/amiga_gemma3-270m_finetuned
Amiga/Tools/amigALM/amiga_asm_dataset
Amiga/Tools/amigALM/model_answers/answer*
Amiga/Tools/amigALM/pdf_docs/*.pdf

amiga-asm-model-f16.gguf
robotics/huenit/joe_controller/__pycache__
robotics/huenit/__pycache__
yolov8n.pt

AI/video_pipeline/src/__pycache__/

AI/video_pipeline/videoclips/

AI/video_pipeline/debug_frames/
Amiga/Tools/GamigALM/amiga_gemma3-270m_merged
Amiga/Tools/GamigALM/amiga_gemma3-270m_finetuned
Amiga/Tools/GamigALM/amiga_asm_dataset
