# Xcode
DerivedData/
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.xccheckout
*.moved-aside
*.xcuserstate
*.xcscmblueprint

# Swift Package Manager
.build/
Packages/
Package.resolved

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Archive files
*.xcarchive

# Other
*.DS_Store
*.idea/
*.swp
*.lock
*.tmp
*.env
*.log

# model training
Amiga/Tools/amigALM/amiga_gemma3-270m_finetuned
Amiga/Tools/amigALM/amiga_asm_dataset
Amiga/Tools/amigALM/model_answers/answer*
Amiga/Tools/amigALM/pdf_docs/*.pdf

