<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSExtension</key>
    <dict>
        <key>NSExtensionAttributes</key>
        <dict>
            <key>QLIsDataBasedPreview</key>
            <true/>
            <key>QLSupportedContentTypes</key>
            <array>
                <string>com.theblifemovement.audeluxe.mod</string>
                <string>com.theblifemovement.audeluxe.s3m</string>
                <string>com.theblifemovement.audeluxe.xm</string>
                <string>com.theblifemovement.audeluxe.it</string>
                <string>com.theblifemovement.audeluxe.med</string>
                <string>com.theblifemovement.audeluxe.okt</string>
                <string>com.theblifemovement.audeluxe.mtm</string>
                <string>com.theblifemovement.audeluxe.669</string>
                <string>com.theblifemovement.audeluxe.dsm</string>
                <string>com.theblifemovement.audeluxe.far</string>
                <string>com.theblifemovement.audeluxe.ptm</string>
                <string>com.theblifemovement.audeluxe.ult</string>
                <string>com.theblifemovement.audeluxe.amf</string>
                <string>com.theblifemovement.audeluxe.ams</string>
                <string>com.theblifemovement.audeluxe.dbm</string>
                <string>com.theblifemovement.audeluxe.dmf</string>
                <string>com.theblifemovement.audeluxe.imf</string>
                <string>com.theblifemovement.audeluxe.j2b</string>
                <string>com.theblifemovement.audeluxe.mdl</string>
                <string>com.theblifemovement.audeluxe.mo3</string>
                <string>com.theblifemovement.audeluxe.psm</string>
                <string>com.theblifemovement.audeluxe.stm</string>
                <string>com.theblifemovement.audeluxe.stx</string>
                <string>com.theblifemovement.audeluxe.umx</string>
            </array>
        </dict>
        <key>NSExtensionPointIdentifier</key>
        <string>com.apple.quicklook.preview</string>
        <key>NSExtensionPrincipalClass</key>
        <string>$(PRODUCT_MODULE_NAME).PreviewViewController</string>
        <key>UTExportedTypeDeclarations</key>
        <array>
            <dict>
                <key>UTTypeConformsTo</key>
                <array>
                    <string>public.data</string>
                </array>
                <key>UTTypeDescription</key>
                <string>Protracker Module</string>
                <key>UTTypeIdentifier</key>
                <string>com.theblifemovement.audeluxe.mod</string>
                <key>UTTypeTagSpecification</key>
                <dict>
                    <key>public.filename-extension</key>
                    <array>
                        <string>mod</string>
                    </array>
                </dict>
            </dict>
            <dict>
                <key>UTTypeConformsTo</key>
                <array>
                    <string>public.data</string>
                </array>
                <key>UTTypeDescription</key>
                <string>Scream Tracker 3 Module</string>
                <key>UTTypeIdentifier</key>
                <string>com.theblifemovement.audeluxe.s3m</string>
                <key>UTTypeTagSpecification</key>
                <dict>
                    <key>public.filename-extension</key>
                    <array>
                        <string>s3m</string>
                    </array>
                </dict>
            </dict>
            <dict>
                <key>UTTypeConformsTo</key>
                <array>
                    <string>public.data</string>
                </array>
                <key>UTTypeDescription</key>
                <string>FastTracker 2 Module</string>
                <key>UTTypeIdentifier</key>
                <string>com.theblifemovement.audeluxe.xm</string>
                <key>UTTypeTagSpecification</key>
                <dict>
                    <key>public.filename-extension</key>
                    <array>
                        <string>xm</string>
                    </array>
                </dict>
            </dict>
            <dict>
                <key>UTTypeConformsTo</key>
                <array>
                    <string>public.data</string>
                </array>
                <key>UTTypeDescription</key>
                <string>Impulse Tracker Module</string>
                <key>UTTypeIdentifier</key>
                <string>com.theblifemovement.audeluxe.it</string>
                <key>UTTypeTagSpecification</key>
                <dict>
                    <key>public.filename-extension</key>
                    <array>
                        <string>it</string>
                    </array>
                </dict>
            </dict>
            <dict>
                <key>UTTypeConformsTo</key>
                <array>
                    <string>public.data</string>
                </array>
                <key>UTTypeDescription</key>
                <string>OctaMED Module</string>
                <key>UTTypeIdentifier</key>
                <string>com.theblifemovement.audeluxe.med</string>
                <key>UTTypeTagSpecification</key>
                <dict>
                    <key>public.filename-extension</key>
                    <array>
                        <string>med</string>
                    </array>
                </dict>
            </dict>
            <dict>
                <key>UTTypeConformsTo</key>
                <array>
                    <string>public.data</string>
                </array>
                <key>UTTypeDescription</key>
                <string>Oktalyzer Module</string>
                <key>UTTypeIdentifier</key>
                <string>com.theblifemovement.audeluxe.okt</string>
                <key>UTTypeTagSpecification</key>
                <dict>
                    <key>public.filename-extension</key>
                    <array>
                        <string>okt</string>
                    </array>
                </dict>
            </dict>
            <dict>
                <key>UTTypeConformsTo</key>
                <array>
                    <string>public.data</string>
                </array>
                <key>UTTypeDescription</key>
                <string>MultiTracker Module</string>
                <key>UTTypeIdentifier</key>
                <string>com.theblifemovement.audeluxe.mtm</string>
                <key>UTTypeTagSpecification</key>
                <dict>
                    <key>public.filename-extension</key>
                    <array>
                        <string>mtm</string>
                    </array>
                </dict>
            </dict>
            <dict>
                <key>UTTypeConformsTo</key>
                <array>
                    <string>public.data</string>
                </array>
                <key>UTTypeDescription</key>
                <string>Composer 669 Module</string>
                <key>UTTypeIdentifier</key>
                <string>com.theblifemovement.audeluxe.669</string>
                <key>UTTypeTagSpecification</key>
                <dict>
                    <key>public.filename-extension</key>
                    <array>
                        <string>669</string>
                    </array>
                </dict>
            </dict>
            <dict>
                <key>UTTypeConformsTo</key>
                <array>
                    <string>public.data</string>
                </array>
                <key>UTTypeDescription</key>
                <string>Dynamic Studio Module</string>
                <key>UTTypeIdentifier</key>
                <string>com.theblifemovement.audeluxe.dsm</string>
                <key>UTTypeTagSpecification</key>
                <dict>
                    <key>public.filename-extension</key>
                    <array>
                        <string>dsm</string>
                    </array>
                </dict>
            </dict>
            <dict>
                <key>UTTypeConformsTo</key>
                <array>
                    <string>public.data</string>
                </array>
                <key>UTTypeDescription</key>
                <string>Farandole Composer Module</string>
                <key>UTTypeIdentifier</key>
                <string>com.theblifemovement.audeluxe.far</string>
                <key>UTTypeTagSpecification</key>
                <dict>
                    <key>public.filename-extension</key>
                    <array>
                        <string>far</string>
                    </array>
                </dict>
            </dict>
            <dict>
                <key>UTTypeConformsTo</key>
                <array>
                    <string>public.data</string>
                </array>
                <key>UTTypeDescription</key>
                <string>PTracker Module</string>
                <key>UTTypeIdentifier</key>
                <string>com.theblifemovement.audeluxe.ptm</string>
                <key>UTTypeTagSpecification</key>
                <dict>
                    <key>public.filename-extension</key>
                    <array>
                        <string>ptm</string>
                    </array>
                </dict>
            </dict>
            <dict>
                <key>UTTypeConformsTo</key>
                <array>
                    <string>public.data</string>
                </array>
                <key>UTTypeDescription</key>
                <string>UltraTracker Module</string>
                <key>UTTypeIdentifier</key>
                <string>com.theblifemovement.audeluxe.ult</string>
                <key>UTTypeTagSpecification</key>
                <dict>
                    <key>public.filename-extension</key>
                    <array>
                        <string>ult</string>
                    </array>
                </dict>
            </dict>
            <dict>
                <key>UTTypeConformsTo</key>
                <array>
                    <string>public.data</string>
                </array>
                <key>UTTypeDescription</key>
                <string>DSMI Module</string>
                <key>UTTypeIdentifier</key>
                <string>com.theblifemovement.audeluxe.amf</string>
                <key>UTTypeTagSpecification</key>
                <dict>
                    <key>public.filename-extension</key>
                    <array>
                        <string>amf</string>
                    </array>
                </dict>
            </dict>
            <dict>
                <key>UTTypeConformsTo</key>
                <array>
                    <string>public.data</string>
                </array>
                <key>UTTypeDescription</key>
                <string>Velvet Studio Module</string>
                <key>UTTypeIdentifier</key>
                <string>com.theblifemovement.audeluxe.ams</string>
                <key>UTTypeTagSpecification</key>
                <dict>
                    <key>public.filename-extension</key>
                    <array>
                        <string>ams</string>
                    </array>
                </dict>
            </dict>
            <dict>
                <key>UTTypeConformsTo</key>
                <array>
                    <string>public.data</string>
                </array>
                <key>UTTypeDescription</key>
                <string>DigiBooster Pro Module</string>
                <key>UTTypeIdentifier</key>
                <string>com.theblifemovement.audeluxe.dbm</string>
                <key>UTTypeTagSpecification</key>
                <dict>
                    <key>public.filename-extension</key>
                    <array>
                        <string>dbm</string>
                    </array>
                </dict>
            </dict>
            <dict>
                <key>UTTypeConformsTo</key>
                <array>
                    <string>public.data</string>
                </array>
                <key>UTTypeDescription</key>
                <string>Delusion Digital Module</string>
                <key>UTTypeIdentifier</key>
                <string>com.theblifemovement.audeluxe.dmf</string>
                <key>UTTypeTagSpecification</key>
                <dict>
                    <key>public.filename-extension</key>
                    <array>
                        <string>dmf</string>
                    </array>
                </dict>
            </dict>
            <dict>
                <key>UTTypeConformsTo</key>
                <array>
                    <string>public.data</string>
                </array>
                <key>UTTypeDescription</key>
                <string>Imago Orpheus Module</string>
                <key>UTTypeIdentifier</key>
                <string>com.theblifemovement.audeluxe.imf</string>
                <key>UTTypeTagSpecification</key>
                <dict>
                    <key>public.filename-extension</key>
                    <array>
                        <string>imf</string>
                    </array>
                </dict>
            </dict>
            <dict>
                <key>UTTypeConformsTo</key>
                <array>
                    <string>public.data</string>
                </array>
                <key>UTTypeDescription</key>
                <string>J2B Module</string>
                <key>UTTypeIdentifier</key>
                <string>com.theblifemovement.audeluxe.j2b</string>
                <key>UTTypeTagSpecification</key>
                <dict>
                    <key>public.filename-extension</key>
                    <array>
                        <string>j2b</string>
                    </array>
                </dict>
            </dict>
            <dict>
                <key>UTTypeConformsTo</key>
                <array>
                    <string>public.data</string>
                </array>
                <key>UTTypeDescription</key>
                <string>DigiTrakker Module</string>
                <key>UTTypeIdentifier</key>
                <string>com.theblifemovement.audeluxe.mdl</string>
                <key>UTTypeTagSpecification</key>
                <dict>
                    <key>public.filename-extension</key>
                    <array>
                        <string>mdl</string>
                    </array>
                </dict>
            </dict>
            <dict>
                <key>UTTypeConformsTo</key>
                <array>
                    <string>public.data</string>
                </array>
                <key>UTTypeDescription</key>
                <string>MO3 Module</string>
                <key>UTTypeIdentifier</key>
                <string>com.theblifemovement.audeluxe.mo3</string>
                <key>UTTypeTagSpecification</key>
                <dict>
                    <key>public.filename-extension</key>
                    <array>
                        <string>mo3</string>
                    </array>
                </dict>
            </dict>
            <dict>
                <key>UTTypeConformsTo</key>
                <array>
                    <string>public.data</string>
                </array>
                <key>UTTypeDescription</key>
                <string>Pro-Sound Maker Module</string>
                <key>UTTypeIdentifier</key>
                <string>com.theblifemovement.audeluxe.psm</string>
                <key>UTTypeTagSpecification</key>
                <dict>
                    <key>public.filename-extension</key>
                    <array>
                        <string>psm</string>
                    </array>
                </dict>
            </dict>
            <dict>
                <key>UTTypeConformsTo</key>
                <array>
                    <string>public.data</string>
                </array>
                <key>UTTypeDescription</key>
                <string>Scream Tracker Module</string>
                <key>UTTypeIdentifier</key>
                <string>com.theblifemovement.audeluxe.stm</string>
                <key>UTTypeTagSpecification</key>
                <dict>
                    <key>public.filename-extension</key>
                    <array>
                        <string>stm</string>
                    </array>
                </dict>
            </dict>
            <dict>
                <key>UTTypeConformsTo</key>
                <array>
                    <string>public.data</string>
                </array>
                <key>UTTypeDescription</key>
                <string>Scream Tracker Music Interface Kit Module</string>
                <key>UTTypeIdentifier</key>
                <string>com.theblifemovement.audeluxe.stx</string>
                <key>UTTypeTagSpecification</key>
                <dict>
                    <key>public.filename-extension</key>
                    <array>
                        <string>stx</string>
                    </array>
                </dict>
            </dict>
            <dict>
                <key>UTTypeConformsTo</key>
                <array>
                    <string>public.data</string>
                </array>
                <key>UTTypeDescription</key>
                <string>Unreal Music Package</string>
                <key>UTTypeIdentifier</key>
                <string>com.theblifemovement.audeluxe.umx</string>
                <key>UTTypeTagSpecification</key>
                <dict>
                    <key>public.filename-extension</key>
                    <array>
                        <string>umx</string>
                    </array>
                </dict>
            </dict>
        </array>
    </dict>
</dict>
</plist>
